#addProposalBtn,
#createBtn,
#approveBtn,
#viewBtn,
#saveBtn {
  -fx-background-color: #4caf50;
  background-color: #4caf50;
}

#deleteBtn,
#closeBtn {
  -fx-background-color: #f44336;
  background-color: #f44336;
}

#editBtn {
  -fx-background-color: #2196f3;
  background-color: #2196f3;
}

.table-column {
  -fx-alignment: CENTER;
}

#background {
  -fx-background-color: #fff9d0;
  background-color: #fff9d0;
}
